* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background: #dfdcca;
    color:  #060c64;
    font-size: 13px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    padding: 2px;
  }

  .header {
    padding: 5px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color : #060c64;
    height : 20px;
  }

  /*General Columns */
  .lcolumn {
    float: left;
    width: 50%;
    margin-top: 10px;
  }

  .l2column {
    float: left;
    width: 40%;
    margin-top: 10px;
    padding: 50px
  }

  .r2column {
    float: right;
    width: 40%;
    margin-top: 10px;
    padding: 50px;
  }

  .rcolumn {
    float: left;
    width: 50%;
    padding-left: 20px;
    margin-top: 10px;
  }

  /*IRA Blocks */
  /* Left column */
  .quarterC {
    float: left;
    width: 25%;
    margin-bottom: 10px;
  }

  .fifthC {
    float: left;
    width: 20%;
    margin-bottom: 10px;
  }
  
  /* NPV Blocks*/

  /* changes the text color of input box */
.Select-value-label {
  color: #060c64 !important;
}


  /* Add a card effect for rows */
  .card {
    background-color: #d0d2d3;
    /* optional rgb(71, 95, 112)*/
    padding: 10px;
    height: 175px;
    border-radius: 25px;
    border: 5px solid #060c64;
  }

  /* Add a card effect for rows
  .cardt2 {
    background-color: rgb(71, 95, 112);
    color : #e45c01;
    padding: 10px;
    height: 500px;
    border-radius: 25px;
  }

  .cardb {
    background-color: #1a3146;
    padding: 10px;
    height: 700px;
    border-radius: 25px;
    border: 2px solid rgb(71, 95, 112);
  }

  .cardb2 {
    background-color: rgb(71, 95, 112);
    color : #e45c01;
    padding: 10px;
    height: 700px;
    border-radius: 25px;
  } 
  */
  

  button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    background-color: #4EB1CB;
    color: #1a3146;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px;
  }


  /* Responsive layout - when the screen is less than 800px wide, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .middlecolumn, .lcolumn, .rcolumn {
      width: 100%;
      padding: 0;
    }
  }

